#colorPool {
  position: relative;
  overflow: hidden;
  opacity: 0.4;
  height: 55%;
  clip-path: polygon(
    50% 5%,
    63% 5%,
    55% 7%,
    55% 14%,
    53% 18%,
    53% 43%,
    80% 48%,
    94% 55%,
    75% 60%,
    78% 68%,
    100% 74%,
    100% 79%,
    95% 84%,
    94% 93%,
    86% 95%,
    87% 80%,
    62% 79%,
    61% 80%,
    61% 100%,
    50% 95%,
    50% 81%,
    42% 80%,
    37% 75%,
    24% 71%,
    17% 62%,
    0% 58%,
    0% 50%,
    15% 43%,
    12% 40%,
    33% 36%,
    34% 31%,
    45% 29%,
    43% 16%,
    43% 10%
  );
}
.glimmer {
  position: absolute;
  z-index: 2;
  height: 2%;
  width: 6%;
  border-radius: 50%;
  opacity: 0.7;
  background-color: rgb(182, 181, 120);
  animation-name: sunshine;
  animation-duration: 100s;
  animation-delay: calc(var(--index) * 3s);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}
.colors {
  position: absolute;
  z-index: 2;
  height: 2%;
  width: 20%;
  border-radius: 20%;
  opacity: 0.6;
  animation-name: twinkle;
  animation-duration: 4s;
  animation-delay: calc(var(--index) * 0.4s);
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
}

@keyframes twinkle {
  from {
    transform: scale(1) translateX(0%);
    opacity: 0.7;
  }
  to {
    transform: scale(3) translateX(7%);
    opacity: 0.1;
  }
}
@keyframes sunshine {
  from {
    opacity: 0.5;
    background-color: rgb(182, 181, 120);
  }
  to {
    opacity: 0.3;
    background-color: rgb(252, 251, 223);
  }
}
