#sky {
  display: "flex";
  height: 100%;
  width: 100%;
}
.container {
  box-sizing: content-box;
  border: 2px solid blue;
  display: flex;
  flex-direction: row;
  height: 90vw;
  width: 100%;
}
.containerC {
  display: flex;
  flex-direction: column;
  height: 90vw;
  width: 100%;
}
