#myApp {
  height: 100%;
  width: 100%;
  border: 2px solid blue;
}
#sky {
  display: "flex";
}
.container {
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  height: 90vw;
  width: 100%;
}
