#carousel {
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 25%;
  width: 95%;
  margin: 2%;
}
#cardContainer {
  border: 2px solid green;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  width: 85%;
  height: 100%;
}
.arrow {
  border: 2px solid pink;
  height: 10%;
  width: 5%;
  color: black;
}
.arrow:hover {
  color: gray;
}
.slide-div {
  display: flex;
  position: absolute;
  align-items: center;
  opacity: 0;
  transition: all 1s ease-out;
  transform: translateX(100%);
  width: 100%;
  height: 100%;
}
.active {
  border: 2px solid purple;
  justify-content: center;
  transform: translateX(0);
  opacity: 1;
  height: 100%;
  width: 80%;
}
.left {
  opacity: 0;
  transform: translateX(-100%);
}
.right {
  opacity: 0;
  transform: translateX(100%);
}
.hidden {
  opacity: 0;
  transform: translateX(100%);
}
