* {
  font-family: "Roboto Mono", monospace;
  line-height: 1;
  font-weight: 700;
}
label {
  display: flex;
  justify-content: space-between;
}
input {
  margin: 1%;
  border-radius: 5px;
}
.welcome {
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  box-sizing: content-box;
  background-color: rgb(236, 235, 235);
  box-shadow: 2px 2px 2px rgb(94, 114, 136);
  height: fit-content;
  width: 75%;
  margin: 10%;
}
.top-welcome {
  box-sizing: content-box;
  border-bottom: 2px ridge grey;
  margin: 2%;
  display: flex;
  justify-content: center;
}
h2,
h4,
h5,
p {
  color: rgb(31, 30, 30);
}
.bottom-welcome {
  box-sizing: content-box;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottom-container-welcome {
  display: flex;
  justify-content: space-around;
}
.modals {
  box-sizing: content-box;
  background-color: rgb(236, 235, 235);
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 2px 2px 2px rgb(94, 114, 136);
  position: absolute;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
  width: auto;
  height: fit-content;
  margin: 2% 6%;
  padding: 1% 7%;
}
.modals.close {
  transform: scale(0);
  overflow: hidden;
  opacity: 0;
}
.modals.open {
  transform: scale(1);
  overflow: 1;
}
.form-signUp,
.form-signin {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2%;
  margin: 1%;
}
.formButtonBox {
  display: flex;
  justify-content: space-between;
}
