#mainText {
  font-family: "Bona Nova SC", serif;
  font-weight: 700;
  font-style: large;
  text-align: center;
}
#header {
  width: 100%;
  background: linear-gradient(to bottom, rgb(5, 7, 85), rgba(37, 91, 161, 0));
  border-bottom: 5px double grey;
}
