#mainText {
  font-family: "Bona Nova SC", serif;
  font-weight: 900;
  font-style: large;
  text-align: center;
}
#header {
  width: 100%;
  background: linear-gradient(to bottom, rgb(5, 7, 85), rgba(37, 91, 161, 0));
  border-bottom: 5px double grey;
  display: grid;
  grid-template-columns: 10% 70% 30%;
}
.menuBox {
  position: relative;
  justify-self: center;
  align-self: center;
}
#navMenu {
  position: absolute;
  border: 1px solid white;
  box-shadow: 5px, 5px, 5px white;
  height: 10%;
  width: 5%;
}
