#mainText {
  font-family: "Bona Nova SC", serif;
  font-weight: 900;
  font-style: large;
  text-align: center;
}
#header {
  background: linear-gradient(to bottom, rgb(5, 7, 85), rgba(37, 91, 161, 0));
  display: flex;
  justify-content: space-between;
  padding: 0% 3%;
}
.menuBox {
  position: relative;
  align-self: center;
  padding: 0% 3%;
}

#navMenu {
  position: absolute;
  border: 1px solid white;
  border-radius: 5px;
  background-color: rgb(236, 235, 235);
  box-sizing: border-box;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.4s ease-in-out;
  width: auto;
  margin: 2% 6%;
  padding: 1% 7%;
  overflow: hidden;
}
#navMenu.open {
  transform: scaleY(1);
}
nav {
  display: flex;
  flex-direction: column;
  padding: 1%;
}
.nav-active {
  color: black;
  font-style: italic;
  font-weight: bold;
}
.nav-inactive {
  color: green;
}
