#btn-container {
  height: 2rem;
  width: 8rem;
  padding: 0 1%;
  margin: 2px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px rgb(184, 181, 181);
}
#btn-title {
  position: relative;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
  width: 100%;
  height: 100%;
}
/* variants */
.btn-primary {
  background-color: rgb(21, 49, 179);
  color: rgb(219, 219, 253);
}
.btn-primary:hover {
  background-color: rgb(38, 82, 124);
}
.btn-secondary {
  background-color: rgb(253, 253, 253);
  color: rgb(3, 6, 54);
}
.btn-secondary:hover {
  background-color: rgb(133, 134, 158);
}

.btn-danger {
  background-color: rgb(218, 29, 5);
  color: rgb(231, 231, 231);
}
.btn-danger:hover {
  background-color: rgb(212, 78, 61);
}
.btn-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.btn-clear {
  background-color: rgba(7, 78, 31, 0.75);
  color: rgb(246, 246, 247);
}
.btn-clear:hover {
  background-color: rgb(54, 87, 54);
}
